main {
	align-items: center;
	display: flex;
	height: 90vh;
	justify-content: center;
	width: 100%;
}

#u29dc {
	$spread: 20px;

	border-radius: 50%;
	box-shadow: $spread $spread $spread * 2 var(--c010), -1 * $spread -1 * $spread $spread * 2 var(--c000);
	display: block;
	height: 127px;
	margin: auto;
	transition: box-shadow 500ms ease;
	width: 127px;

	&:hover {
		box-shadow: none;
		cursor: pointer;
		transition: box-shadow 500ms ease;
	}

	svg {
		display: block;

		path {
			fill: var(--c100);
		}
	}
}
