body {
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(2, 5rem) auto repeat(2, 5rem);
}

header {
	grid-area: 2 / 2 / 2 / -2;
}

main {
	grid-column: 2 / -2;
	grid-row: 3 / -3;
}

footer {
	grid-area: -3 / 2 / -3 / -2;
}
