@mixin no-select {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

html,
body {
	@include no-select;
	background-color: var(--c005);
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

a {
	&:hover {
		text-decoration: none;
	}

	&:focus {
		opacity: 0.5;
	}
}
